<html>
    <head>

        <style>

        .card{
           display:inline-block;
           
            width: 300px;
            height:380px ;
            
        }
        img{
            height:200px;
            width:200px
        }
         h2{
            text-align:center
         }

         .touch-highlight:hover {
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
           transition: box-shadow 0.3s ease;
         }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="card  touch-highlight mt-3 mr-4" *ngFor="let p of item">
                        <div class="card-body">
                           
                           <p>{{p.itemname}}</p>
                           <img src='data:{{a}};base64,{{p.itemimage}}' width="250" height="250">
                           <h4>{{p.price|currency:'INR'}}</h4>
                           <button (click)="buynow(p.itemname)"  type ="button" class="btn btn-primary mt-3" >Buy now</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
