<html>
    <head>
        <style>
            #b{
               color:#ff0000a8;
            }

            #imall{
                cursor: pointer;
            }
            #rt{
                color:#e31515
            }
            
            #imall1{
                cursor: pointer;
            }

            #rdf{
                color:red;
                
            }
            #rd{
                color:blue
            }

        </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12 mt-3">
                    <h2 id="b" class="text-center">SHOP BY MATERIAL</h2>
             
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12" id ="imall" >
                    <img src="assets/images/foam.jpg"  (click)="foam()" width="350px" class="mr-2" height="280px" alt="Cart Icon">
                    <img src="assets/images/coir.jpg" (click)="coir()" width="350px" class="mr-2" height="280px" alt="Cart Icon">
                    <img src="assets/images/spring1.jpg" (click)="spring()" width="350px" height="280px" alt="Cart Icon">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <h2 id="rt" class="text-center">SHOP BY BRAND</h2>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12" id="imall1">
                    <img src="assets/images/kurlon.jpg"  (click)="kurlon()" width="200px" class="mr-3" height="200px" alt="Cart Icon">
                    <img src="assets/images/centuary.jpg" (click)="centuary()" width="200px" class="mr-3" height="200px" alt="Cart Icon">
                    <img src="assets/images/peps.jpg" (click)="peps()" width="200px" class="mr-3" height="200px" alt="Cart Icon">
                    <img src="assets/images/nilkamal.jpg" (click)="nilkamal()" width="200px" class="mr-3" height="200px" alt="Cart Icon">
                    <img src="assets/images/duroflex.jpg" (click)="duroflex()" width="200px" height="200px" alt="Cart Icon">
                    

                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-12">
                    <h4 id="rdf" class="text-center">we provide all types of categories of mattress and the all types of brands</h4><br>
                    <h4 id="rd" class="text-center">contact sri lakshmi home needs chintalapudi  </h4>
                    <h4 id="rd" class="text-center">Mobile:7730931992</h4>
                </div>
            </div>

        </div>
    </body>
</html>
